@font-face {
    font-family: "euro-bold";
    src: url("/css/EUROSTIB.ttf");
  }
*{
    font-family: euro-bold;
}
.color1{
    background-color: #682c0e;
}
.color2{
    background-color: #c24914;
}
.color3{
    background-color: #fc8621;
}
.color4{
    background-color: #f9e0ae;
}


.gold-on-gold {
    text-shadow: 1px 1px 1px white;
}